---
import EventsList from '../components/EventsList.jsx';
---

<html lang="en">
  <body class="m-0 p-0 min-h-screen bg-gradient-to-br from-indigo-800 via-purple-800 to-pink-800">
    <EventsList client:load />
  </body>
</html>
