---
import EventsList from '../components/EventsList.jsx';
import SearchForm from '../components/SearchForm.astro';
---

<html lang="en">
  <head>
    <title>UKSaver</title>
  </head>
  <body class="bg-gradient-to-br from-indigo-800 via-purple-800 to-pink-800 text-white p-4 min-h-screen">
    <main class="max-w-2xl mx-auto py-10">
      <h1 class="text-3xl font-bold mb-6">UKSaver: Поиск скидок</h1>
      <SearchForm />
      <div class="mt-10">
        <EventsList client:load />
      </div>
    </main>
  </body>
</html>
