---
import EventsList from '../components/EventsList.jsx';
---

<html lang="en">
  <head>
    <title>UKSaver — Events Finder</title>
  </head>
  <body>
    <EventsList client:load />
  </body>
</html>
